/* SWIPER */

.image-slider img {
  height:100%;
  width:100%;
  object-fit: cover;
}
.image-slider .swiper-button-next,.image-slider .swiper-button-prev {
  background: transparent;
  color:#fff;
  padding: 10px 20px;
  transition: .2s ease-in-out;
}
.image-slider .swiper-button-next:hover,.image-slider .swiper-button-prev:hover {
  background: rgba(255,255,255,.1);
}

.image-slider .swiper-button-next:after,.image-slider .swiper-button-prev:after {
  font-size:20px;
}
.image-slider .swiper-image{
filter:brightness(0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: transform 1.5s ease-out,filter 0.5s;
            transition: transform 1.5s ease-out,filter 0.5s;

}
.image-slider .swiper-slide.swiper-slide-active .swiper-image{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
          filter:brightness(1);
      }
      .client-carousel {
        position: relative;
        /* height:100px; */
        overflow:hidden;
      }
      .client-carousel .client-logo {
        filter: saturate(0.05);
        height:100px;
        object-fit:cover;
        transition: .4s ease-out;
        width:100%;
      }
      .swiper-container {
        width: 100%;
        height: 450px;
      }
      .service-slide-img {
        border-radius: 20px;
        height:100%;
        object-fit: cover;
        filter: brightness(0.6);
        width:100%;
      }
    .service-slide-img, .service-slide-content{
      position: absolute;
    }
    .service-slide-content  {

    }
    .service-slide-title {
      color:#fff;
    }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .services-wrapper {

      }
      .services-slider {
      z-index: 2;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
    }
    .services-slider .services-slider__wrap {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: start;
      align-items: flex-start;
      position: relative;
      z-index: 2;
    }
    .services-slider .services-slider__wrap .swiper-slide {
      width: 300px;
      flex-shrink: 0;
      opacity: 0;
      height: 350px;
      background: #fff;
      border-radius: 20px;
      pointer-events: none;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    .services-slider .services-slider__wrap .swiper-slide-active, .services-slider .services-slider__wrap .swiper-slide-prev, .services-slider .services-slider__wrap .swiper-slide-next {
      opacity: 1;
      pointer-events: auto;
    }
    .services-slider .services-slider__controls {
      position: relative;
      z-index: 12;
    }
    .services-slider .services-slider__controls .services-slider__pagination {
      text-align: center;
      margin-top: 50px;
    }
    .services-slider .services-slider__controls .services-slider__pagination .swiper-pagination-bullet {
      width: 13px;
      height: 10px;
      display: inline-block;
      background: #bbb;
      opacity: .2;
      margin: 0 5px;
      border-radius: 20px;
      -webkit-transition: opacity .5s, background-color .5s, width .5s;
      transition: opacity .5s, background-color .5s, width .5s;
      -webkit-transition-delay: .5s, .5s, 0s;
      transition-delay: .5s, .5s, 0s;
    }
    .services-slider .services-slider__controls .swiper-pagination-clickable .swiper-pagination-bullet {
      cursor: pointer;
    }
    .services-slider .services-slider__controls .services-slider__pagination .swiper-pagination-bullet-active {
      opacity: 1;
      background: #aaa;
      width: 100px;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    .services-slider .services-slider__controls .services-slider__button-next, .services-slider .services-slider__controls .services-slider__button-prev {
      position: absolute;
      top: 50%;
      width: 15px;
      height: 44px;
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
      /* background-size: 27px 44px;
      background-position: center;
      background-repeat: no-repeat; */
    }
    .services-slider .services-slider__controls .services-slider__button-prev {
      left: 10px;
      right: auto;
    }
    .services-slider .services-slider__controls .services-slider__button-next {
      right: 10px;
      left: auto;
    }
    .testimonial-slider-container-2 {
      overflow: hidden;
    }
.testimonial-slider-2 .swiper-slide {
  background:transparent;
}
.testimonial-slider-2 .slide-content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:20px;
  text-align: center;
  width:800px;
}
.testimonial-slider-2 .testimonial-img {
  border-radius:99px;
  border:5px solid rgba(255,255,255,.1);
  height:90px;
  width:90px;
  margin:30px auto 0;
}
.testimonial-slider-2-button-next,.testimonial-slider-2-button-prev {
  position: absolute;
  top: 45%;
  width: 15px;
  height: 44px;
  /* margin-top: -22px; */
  z-index: 10;
  cursor: pointer;
}
.testimonial-slider-2-button-prev {
  left: 10px;
  right: auto;
}
.testimonial-slider-2-button-next {
  right: 10px;
  left: auto;
}
.testimonial-slider-2-button-next:after,.testimonial-slider-2-button-prev:after  {
  color:#000;
  font-size: 20px;
}
.black-bg .testimonial-slider-2-button-next:after,
.black-bg .testimonial-slider-2-button-prev:after,
.img-bg .testimonial-slider-2-button-next:after,
.img-bg .testimonial-slider-2-button-prev:after,
.img-bg .slide-title {
  color:#fff;
}
.img-bg {
  color:#fff;
  background-color:#000;
}
